:root {
  --purple: #603DBD;
  --green: #D5FC6D;
  --white: #ffffff;
}

@font-face {
  font-family: "Banana Grotesk";
  font-weight: 300;
  src: url('./fonts/BananaGrotesk-Light.otf');
}

@font-face {
  font-family: "Banana Grotesk";
  font-weight: 600;
  src: url('./fonts/BananaGrotesk-Bold.otf');
}

@font-face {
  font-family: "Meek Display";
  font-weight: 600;
  src: url('./fonts/Meek_Display_Medium.ttf');
}

html, body {
  font-size: 20px;
}

body {
  background-color: var(--white); 
  font-family: 'Banana Grotesk', sans-serif;
  color: var(--purple);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Meek Display', sans-serif!important;
}

p {
  color: #627178;
  font-size: 19px;
  font-weight: 400;
  line-height: 165%;

  @media (max-width: 556px) {
    font-size: 17px;
  }
}

h1 {
  font-size: 50px;

  @media (max-width: 556px) {
    font-size: 40px;
  }
}

h2 {
  font-size: 44px;

  @media (max-width: 556px) {
    font-size: 34px;
  }
}

h3 {
  font-size: 40px;
  @media (max-width: 556px) {
    font-size: 30px;
  }
}

